* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    width: 100%;
    height: auto;
}

blockquote {
    font-size: 1.7em;
    text-align: center;
    margin: 1em;
}